.what {
  width: 58% !important;
}

.where {
  width: 22% !important;
}

.when {
  width: 20% !important;
}

.resume-section {
  margin-bottom: 5px !important;
}

h2 {
  margin-bottom: 20px !important;
}
